<%- include("/organisms/head/head", {title: "お問い合わせ ┃ ippo-ippo WEB"}) %>
<div class="o-content">
  <%- include("/organisms/sidebar/sidebar") %>
  <div class="o-content__inner">
    <%- include("/organisms/header/header") %>


    <main class="o-main">
      <div class="o-grid-container">
        <div class="o-grid-row">
          <div class="o-grid-col o-grid-col-sm-12">
            <section class="o-card">
            <form class="o-form" data-parsley->
              <%- include("/molecules/heading/heading", {
                title: "お問い合わせ",
                titleEn: "Contact",
              }) %>
              <div class="o-grid-container">
                <div class="o-grid-row">
                  <div class="o-grid-col o-grid-col-sm-12 o-grid-col--narrow-center">
                    <%- include("/molecules/heading/heading--lv2", {title: "お問合わせの種別を選んでください", subHtml: ""}) %>
                    <div class="m-form-block m-form-block--radio">
                      <div class="m-form-block__body">
                        <%- include("/atoms/input/input-radio",{
                          text: "サービスの使い方に関するお問い合わせ",
                          id: "radioid1",
                          attributes : {
                          "required": "",
                          "name": "radio"
                          }})%>
                        <%- include("/atoms/input/input-radio",{
                          text: "保健指導に関するお問い合わせ",
                          id: "radioid2",
                          attributes : {
                          "required": "",
                          "name": "radio"
                          }})%>
                        <%- include("/atoms/input/input-radio",{
                          text: "個人情報に関するお問い合わせ",
                          id: "radioid3",
                          attributes : {
                          "required": "",
                          "name": "radio"
                          }})%>
                        <%- include("/atoms/input/input-radio",{
                          text: "××××に関するお問い合わせ",
                          id: "radioid4",
                          attributes : {
                          "required": "",
                          "name": "radio"
                          }})%>
                      </div>
                    </div><!--m-form-block-->
                  </div><!-- o-grid-col -->
                </div>
                <div class="o-grid-row o-grid-row--narrow-gutter">
                  <div class="o-grid-col o-grid-col-sm-12">
                    <div class="m-btn-group">
                      <div class="m-btn-group__main">
                        <a class="a-btn a-btn--long a-btn--icon--right" href="#">TOPへ<i class="a-icon a-icon--blt-toRight-circled">&emsp;</i></a>
                      </div>
                    </div><!--m-btn-group-->
                  </div><!--o-grid-col-->
                </div><!--o-grid-row-->
              </div><!-- o-grid-container -->
              </form>
            </section><!-- o-card -->
          </div><!-- o-grid-col -->
        </div><!-- o-grid-row -->
      </div><!-- o-grid-container -->
    </main><!-- o-main -->

    <%- include("/organisms/footer/footer") %>
  </div>
</div>
<%- include("/organisms/foot/foot") %>
